input{
        margin-bottom: 15px;
        background-color: white;
    }
    button{
        margin-left: 10px;
    }
    .email{
        border: solid 2px; color: black;
        border-radius: 5px;
        padding: 10px;
    }
    #password{
        border: solid 2px; color: black;
        border-radius: 5px;
    padding: 10px;}
    div{
        width: 100%;
        background-color: orange;
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content:center;
        align-items:center;
    }
    